body{
    background-color: black;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 56px;
    color: rgb(255, 255, 255);
   
}

h2{
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    color: #0fa;
}

h3{
   font-family: 'Source Code Pro', monospace;
   font-size: 36px;
   animation: flicker 1.5s infinite alternate;
   color: #fff;

}
.container {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.4fr;
    grid-template-rows: 0.8fr 0.3fr 0.8fr 0.8fr 0.8fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". title-1 ."
      ". welcome-text ."
      ". go-to-play ."
      ". about ."
      ". footer."
      ". . .";
  }
  
  .title-1 { 
      grid-area: title-1;
      padding-top: 50px;
      display: grid;
      justify-content: center;
      align-content: center;
     }
    
  .title-2{ 
    
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 70px;
    width: 50%;
   }
  .welcome-text { 
      grid-area: welcome-text;
      display: grid;
      justify-content: center;
      align-content: center; }
  
  .go-to-play { 
      grid-area: go-to-play;
    display: grid;
    justify-content: center;
    align-content: center; 
    padding-top: 50px;
}

    h4 {
        font-family: 'Source Code Pro', monospace;
        font-size: 18px; 
        color: #fff; 
        padding-left: 50px;
    }

    h4:hover{
        color: #fff
    }

    h5 {
        display: grid;
 justify-content: center;
 align-content: center;
 font-family: 'Source Code Pro', monospace;
 font-size: 18px; 
 color: #fff; 
    }
  
    a:link {
        text-decoration: none;
    }

  a:hover {
    color: green;
    text-decoration: underline overline;
  }

  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

 
  #gameContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*make it look fine on mobile*/
  canvas {
    width: 100%;
  }

  .about {
    grid-area: about;
    display: grid;
    justify-content: center;
    align-content: center; 
  }

  .footer {
      grid-area: footer;
      display: grid;
    justify-content: center;
    align-content: center; 
  }

  h6{
font-family: 'Source Code Pro', monospace;
font-size: 12px; 
color: #fff; 
}
